.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pper

*.pper

*.pper

BST169_Econometrics/Crousework_Project/.Rproj.user/5A05E8FB/pcs/windowlayoutstate.pper

*.pper

*.gz

*.pper

*.pper

BST215_Quantitative_Research_Methods_Term_1/QRM_assignment/.Rproj.user/5A05E8FB/persistent-state

BST215_Quantitative_Research_Methods_Term_1/QRM_assignment/.Rproj.user/5A05E8FB/sdb/prop/6B0AB005

BST215_Quantitative_Research_Methods_Term_1/QRM_assignment/.Rproj.user/5A05E8FB/saved_source_markers

*.pper

*.pper
